@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Source+Sans+Pro:wght@300;400;700&display=swap');

/****** START HOME PAGE ******/
html {
    position: relative;
    min-height: 100vh;
}

.body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: relative;
}

.index {
    font-family: 'Source Sans', sans-serif;
    font-weight: 50%;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: auto;
    display: inline-block;
}

main {
    margin-bottom: 85px;
}

/****** FLEX PROPERTY ******/
.flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

/****** BUTTON QUE LORSQU'IL EST ACTIVE ******/
button:active {
    transition-duration: 0.2s;
    transform: scale(0.95);
}

a {
    color: currentcolor;
    text-decoration: none;
}

/****** HEADER ******/
header {
    display: block;
    margin: 0 auto;
    max-width: 80vw;
    position: relative;
    z-index: 1;
}

/****** CONTAINER 2 - FOND BLANC ******/
#container2-header {
    width: 100%;
    background-color: rgba(248, 232, 245, 0.952);
    margin-top: 35px;
    height: 95px;
    margin-bottom: 35px;
    border-radius: 10px;
}

/****** LOGO + PRINCIPAL MENU ******/

/****** LOGO ******/
.logo-menu {
    width: 100%;
    margin-bottom: 50px;
    position: absolute;
    top: 0;
    height: 100px;
}

.hidden {
    display: none;
}

.logo a img {
    width: 170px;
}

/****** PRINCIPAL MENU ******/
#div-menu-block {
    position: static;
    float: right;
    width: 80%;
    margin-top: 32px;
    margin-bottom: 32px;
    padding-right: 5px;
    text-align: center;
}

header #div-menu-block .principal-nav ul {
    flex-direction: row;
    list-style: none;
}

header #div-menu-block .principal-nav ul li {
    flex: 1;
}

header #div-menu-block .pricipal-nav ul li a {
    color: #414042;
    padding: 0.5rem;
}

#nav_site {
    margin-right: 10px;
    margin-left: 20px;
}

#nav_massage {
    margin-right: 25px;
    margin-left: 10px;
}

#nav-lithotherapy {
    margin-right: 50px;
    margin-left: 30px;
}

#nav_candles {
    margin-right: 20px;
}

#nav_beauty {
    margin-left: -20px;
    margin-right: -20px;
}

#nav_wellbeing {
    margin-right: -50px;
}

header #div-menu-hide .nav-burger ul li a {
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

/****** MENU DEROULANT ******/
header #div-menu-block .principal-nav .menu-deroulant {
    position: relative;
}

/****** MENU WITH HIDING LINKS ******/
header #div-menu-block .principal-nav .menu-deroulant ul {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: absolute;
}

header #div-menu-block .principal-nav .menu-deroulant ul li {
    width: 100%;
    background-color: rgba(248, 232, 245, 0.952);
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

header #div-menu-block .principal-nav .menu-deroulant ul li a {
    color: #414042;
}

/****** MENU ANIMATION ******/
.logo-nav-burger {
    display: none;
}

header #div-menu-block .principal-nav .menu-deroulant:hover .medu-deroulant-content {
    display: block;
    z-index: 1;
    opacity: 0.8;
    transition-delay: 0.2s, 0.2s, 0.5s;
}

/****** ANIMATION, COLOR, SIZE *******/
header #div-menu-block .principal-nav ul li a:hover, .menu-deroulant-content:hover {
    color: #FF007F;
    transition-duration: 0.4s;
}

/****** MENU BURGER ******/
header #div-menu-hide .nav-burger ul li a:hover {
    color: #FF007F;
    transition-duration: 0.8s;
}

/****** MAIN ******/
main {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
}

.container-main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/****** 1ST TEXT BLOCK CENTER ******/
h1 {
    font-size: 30px;
    font-weight: 300;
    color: #FF007F;
    padding-top: 50px;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 25px;
    font-weight: 300;
    color:  #FF007F;
    margin-left: auto;
    margin-right: auto;
}

h2:after {
    display: block;
    content: "";
    background: #FF007F;
    width: 150px;
    height: 1px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 100%;
    color: #FF007F;
    text-align: center;
}

/****** BLOCK TEXT + PICTURE ******/
.container-photo-text, .text-courant-decale-inverse {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-photo-text img, .texte-courant-decale-inverse img {
    width: 45%;
}

.container-photo {
    width: 100%;
}

.texte-courant-central {
    font-family: 'Source Sans', sans-serif;
    width: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-align-last: center;
}

.texte-courant {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-align-last: center;
}

.text-courant-decale {
    width: 35%;
    margin-left: auto;
    margin-right: 5%;
    text-align: justify;
    text-align-last: center;
}

.texte-courant-decale-inverse {
    width: 35%;
    margin-left: 5%;
    margin-right: auto;
    text-align: justify;
    text-align-last: center;
}

h3 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    color: #414042;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.container-photo-text p, .container-photo-text-inverse p {
    color: #414042;
    display: inline;
    width: 300px;
    font-family: 'Source Sans', sans-serif;
    font-size: 15px;
    margin-right: 0;
}

.en-savoir-plus {
    font-family: 'Source Sans', sans-serif;
    font-size: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.en-savoir-plus a {
    color: #FF007F;
}

/****** ANIMATION UNDERLINE ******/
.en-savoir-plus a:hover {
    text-decoration: underline;
}

.en-savoir-plus:before {
    display: block;
    content: "";
    background: #FF007F;
    width: 150px;
    height: 1px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/****** FOOTER ******/
footer {
    position: absolute;
    bottom: 0;
    max-width: 80vw;
    left: 10vw;
}
.footer-distributed {
    background-color: rgba(240, 183, 227, 0.623);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 20px 25px;
}

.footer-distributed .footer-left p {
    color: #8F9296;
    font-size: 14px;
    margin: 0;
}

.footer-distributed p .footer-links {
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
}

.footer-distributed p .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
}

.footer-distributed .footer-links a:before {
    content: ".";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 100px;
}

.footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383B;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition: all .25s;
}

.footer-distributed .footer-right a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.footer-distributed p .footer-links a:hover {
    text-decoration: underline;
}


/****** START ABOUT SECTION ******/
.about {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    border: 2px solid red;
}

.about-section {
    background: url(../img/PICTURE_ABOUT.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 10px 10px;
    padding-bottom: 50px;
}

.inner-container {
    width: 60%;
    float: right;
    background-color: #fdfdfd;
    padding: auto;
}

.inner-container h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text {
    font-size: 12px;
    color: #545454;
    line-height: 20px;
    text-align: justify;
    padding: 0;
    padding-left: 15px;
}

/****** END ABOUT SECTION ******/

/****** START GALLERY ******/
.litho {
    padding: 20px;
    font-family: sans-serif;
    background: #f2f2f2;
  }

  img {
    height: auto;
  }

  h1 {
    margin-bottom: .5em;
    font-family: 'Great Vibes', cursive;
    font-size: 44px;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
  }

  .location-listing {
    position: relative;
    width: 300px;
  }

  .location-image {
    line-height: 0;
    overflow: hidden;
  }

  .location-image img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
  }

  .location-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(224,187,228,0.4);
    color: white;

    /* position the text in t’ middle*/
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .location-listing:hover .location-title {
    opacity: 1;
  }

  .location-listing:hover .location-image img {
    filter: blur(2px);
  }

  /****** START CONTACT FORM ******/
.contactForm {
    background-color: #ffffff;
    width: 530px;
    margin: 0 auto 40px auto;
    box-shadow: 4px 4px 10px #000;
    padding: 0 0 40px 0;
    border-radius: 15px;
}

.contactFormTitle {
    background-color: #FF007F;
    color: white;
    border-radius: 15px 15px 15px 15px;
}

input {
    margin: 20px 0;
    width: 300px;
    border: none;
    padding: 5px 0;
    border-bottom: solid 1px #FF007F;
    color: #FF007F;
}

#contact {
    margin: 20px 0;
    width: 300px;
    border: none;
    padding: 5px 0;
    border-bottom: solid 1px #FF007F;
    color: #FF007F;
}

.btnContact {
    border: none;
    background-color: #FF007F;
    color: white;
    height: 40px;
    width: 150px;
    font-size: 15px;
    box-shadow: 4px 4px 5px #E99999;
    margin: 10px 0 0 0;
    border-radius: 5px;
}

/****** MASSAGE ******/
.massageBody {
    background: white;
    color: black;
    margin: 0;
}

.massageP {
    margin: 0 0 13px 0;
    text-align: justify;
}

.center {
    text-align: center;
}

.containerMassage {
    width: 95%;
    max-width: 1220px;
    margin: 0 auto;
}

.massage {
    display: grid;
    grid-template-columns: 1fr 3fr;
    position: relative;
}

.massage_number {
    color: #9FE855;
    font-size: 10vw;
    font-weight: 600;
    padding: 10px 0;
    position: sticky;
    top: 0;
    text-align: center;
    height: calc(10vw + 20px);
    transition: all 0.2s ease-in;
}

.massage_content {
    border-top: 2px solid #FF007F;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 10px;
    padding: 15px 0;
}

.massage_content .title {
    font-weight: 600;
}

.massage_content .story {
    line-height: 26px;
}

.li-massage {
    text-align: justify;
}

/****** GOLD BOOK ******/
.comments {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comment {
    border-bottom: 1px solid #ccc;
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    font-family: 'Source Sans', sans-serif;
}

.comment .author {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #545454;
}

.author {
    font-family: 'Source Sans', sans-serif;
    font-size: 25px;
}

.comment p {
    margin: 0 0 1rem 0;
}

#comment-btn {
    border: 2px #FF007F solid;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
}

/****** CRYSTALS SHEET ******/
.crystal-border {
    border: 2px solid #523e6c;
    background-color: white;
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    color: #523e6c;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
  }

  .img-crystal {
    /*background: no-repeat top center;*/
    height: 250px;
  }

  .crystal-border a {
    /* color: #968070; */
    color: white;
    text-decoration: none;
    --webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }

  .crystal-border a:hover {
    color: white;
    --webkit-transition: alla 0.1s ease;
    transition: all 0.1s ease;
  }

  .crystal-title {
    border-bottom: 2px solid #523e6c;
    color: white;
    text-shadow: 0 0 2px #000;
    padding: 5px 20px;
    font-family: 'Cinzel Decorative', serif;
    font-size: 30px;
    margin-top: 20px;
  }

  .crystal-border span {
    font-family: 'Cinzel', serif;
    color: white;
    font-size: 16px;
  }

  .crystal-border p {
    margin: 10px 20px;
    text-align: justify;
  }

  .crystal-border p > q:before, .astree-cadre p > q:after {
    content: '';
  }


/****** MEDIA QUERIES ******/
  @media (hover: none) {
    .location-title {
      opacity: 1;
    }
    .location-image img {
      filter: blur(2px);
    }
  }

  @media screen and (max-width:1200px) {
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px) {
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover, .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}

@media (max-width: 600px) {
    .massage_content {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 576px) {
    .massage_content .storyMassage {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
        text-align: center;
    }

    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }

    .footer-distributed .footer-left p .footer-links {
        line-height: 1.8;
    }
}
